                    <form [formGroup]="notificationForm" (ngSubmit)="onSubmit(notificationForm.value)" enctype="multipart/form-data" class="form-horizontal" method="post">
                        <div class="col-md-6">
                            <div class="form-group" >
                                <label for="email" class="col-md-4 control-label">Email <small class="text-danger">*</small></label>
                                <div class="col-md-8">
                                    <input [formControl]="notificationForm.controls['email']" type="email" class="form-control" id="email">
                                    <small *ngIf="notificationForm.controls['email'].hasError('required') && (notificationForm.controls['email'].touched || formSubmited)" class="error">You must include a email address.</small>
                                    <small *ngIf="!notificationForm.controls['email'].hasError('required') && notificationForm.controls['email'].hasError('validateEmail') && notificationForm.controls['email'].touched" class="error">Invalid email address.</small>
                                    <small *ngFor="let error of error.email" class="text-danger">{{error}}</small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="user_group" class="col-md-4 control-label">Notification Type <small class="text-danger">*</small></label>
                                <div class="col-md-8">
                                    <div  *ngFor="let item of notificationTypes;">
                                        <label class="checkbox-inline custom-checkbox nowrap">
                                            <input type="checkbox" [checked]="(selectedNotificationType && selectedNotificationType.indexOf(item.id) !== -1)" (change)="updateCheckedOptions(item.id, $event)">
                                            <span>{{item.name}}</span>
                                        </label>
                                    </div>
                                    <small *ngIf="notificationForm.controls['notification_types'].hasError('required') && formSubmited" class="error">Please select a notification type.</small>
                                    <small *ngFor="let error of error.notification_types" class="text-danger">{{error}}</small>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="offset-sm-4 col-sm-8">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </div>
                        </div>
                    </form>
